.entryTable{
  .completed {
    text-decoration: line-through;
    color: rgb(94, 14, 14);
    font-size: 1.5rem;
  }
  
  .actionButton {
    font-size: 10px;
  }
  
  span[id^=entry] {
    color: white;
    font-size: 1.5rem;
  }
}